.from-text{
    text-align: center;
}
.container{
    margin-top: 20px;
}
.form-control{
  display: block;
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: aqua;
 
}
.form-control input:not([type=checkbox]){
    width: 90%;
    margin: 20px;
    padding: 10px;
    border: none;
}
.check-box{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.check-box input{
    width: 3%;
}
.check-box label{
  width: 97%;
  
}